<ion-header [translucent]="true">
  <ion-toolbar>
    <img id="logo" src="assets/icon/logo.png" class="logo" alt="Logo" />  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title>Recuperar</ion-title>
      <ion-title>Contraseña</ion-title>
      <p>Ingresa tu correo electrónico para recuperar tu contraseña</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="boton-animado" (click)="enviarCorreo()" >Recuperar Contraseña</ion-button>
          <p class="texto-desvanecido">La contraseña se ha enviado a {{correo}}</p>
          
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button id="volver" (click)="volverLogin()">Volver</ion-button>
</ion-content>
