
  
  ion-toolbar {
    --background: #055596a8; 
    --color: white; 
  }
  ion-content {
    padding: 20px; 
    --background: #05559636; 
    --color: white; 
  }
  #logo {
    width: 150px; 
    height: auto;
    margin-left: 20px; 
  }
  
  ion-card {
    margin: 20px; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  }
  
  ion-card-header {
    text-align: center; 
  }
  
  ion-card-title {
    font-size: 1.5em; 
    margin-bottom: 10px; 
  }
  
  p {
    font-size: 0.9em; 
    text-align: center; 
    color: #666; 
    margin-bottom: 20px; 
  }
  
  ion-button {
    margin-top: 10px; 
    font-size: 10px; 
    border-radius: 25px; 
  }
  
  ion-item {
    margin-bottom: 15px; 
  }
  
  ion-label {
    color: #333; 
  }
  
  ion-input {
    --padding-start: 10px; 
    --padding-end: 10px; 
  }
  
  ion-text {
    text-align: center; 
    color: #ff2d55; 
  }
  .texto-desvanecido{
    opacity: 0;

}
#volver{
  margin-top: 5px;
  margin-left: 20px;
}